    body {
        background-image: linear-gradient(to right, black, gray);
        
    }
    h1 {
        text-align: center;
        font-size: 40px;
        color: wheat;
        padding-bottom: 20px;
    }

    .btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 1px 1px #000;
    }

    .container {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    height: 460px; 
    width: 360px;
    padding-top: 40px;
    }



    #resultado {
    padding: 10px;
    border-radius: 7px;
    text-align: right;
    font-size: 20px;
    outline: none;
    border: none;

    }
    #igual {
    justify-content: end;
    margin-top: 5px;
    }
